<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>mean</th>
      <th>max</th>
      <th>min</th>
      <th>stddev</th>
      <th>first%</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>34.16</td>
      <td>34.32</td>
      <td>33.34</td>
      <td>0.33</td>
      <td>100.00</td>
    </tr>
    <tr>
      <td>33.12</td>
      <td>33.16</td>
      <td>33.06</td>
      <td>0.03</td>
      <td>96.95</td>
    </tr>
    <tr>
      <td>32.76</td>
      <td>41.15</td>
      <td>28.18</td>
      <td>3.97</td>
      <td>95.88</td>
    </tr>
    <tr>
      <td>32.72</td>
      <td>41.17</td>
      <td>27.94</td>
      <td>4.02</td>
      <td>95.79</td>
    </tr>
    <tr>
      <td>32.46</td>
      <td>32.50</td>
      <td>32.37</td>
      <td>0.05</td>
      <td>95.02</td>
    </tr>
    <tr>
      <td>31.64</td>
      <td>32.22</td>
      <td>27.99</td>
      <td>1.48</td>
      <td>92.63</td>
    </tr>
    <tr>
      <td>26.70</td>
      <td>32.11</td>
      <td>6.67</td>
      <td>8.52</td>
      <td>78.15</td>
    </tr>
    <tr>
      <td>25.44</td>
      <td>30.07</td>
      <td>16.31</td>
      <td>4.99</td>
      <td>74.47</td>
    </tr>
    <tr>
      <td>25.24</td>
      <td>28.40</td>
      <td>17.97</td>
      <td>3.68</td>
      <td>73.88</td>
    </tr>
    <tr>
      <td>22.18</td>
      <td>26.65</td>
      <td>2.00</td>
      <td>8.70</td>
      <td>64.94</td>
    </tr>
    <tr>
      <td>20.50</td>
      <td>26.61</td>
      <td>10.28</td>
      <td>5.46</td>
      <td>60.01</td>
    </tr>
    <tr>
      <td>20.35</td>
      <td>26.61</td>
      <td>12.42</td>
      <td>5.82</td>
      <td>59.58</td>
    </tr>
  </tbody>
</table>